html {
  font-size: 16px;
}

.site-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.container {
  display: flex;
  width: 100%;
}

h1 {
  font-weight: 700;
  font-size: 2rem;
}

h2 {
  font-weight: 700;
  font-size: 1.5rem;
}

h3 {
  font-weight: 700;
  font-size: 1.25rem;
}

h4 {
  font-weight: 500;
  font-size: 1rem;
}


/* Header Section */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  width: 100%;
}

.logo {
  height: 32px;
  margin-left: 24px;
}

.logo a {
  display: flex;
  align-items: center;
}

.logo .first {
  font-weight: 700;
}

.logo span {
  text-transform: uppercase;
}

nav ul {
  display: flex;
  padding: 16px;
}

nav ul li {
  padding: 8px;
}

/* Main Banner Section */

.main-banner {
  display: flex;
  background-color: lightgray;
  align-items: center;
  width: 100%;
}

.main-banner img {
 width: 60%;
 height: auto;
 object-fit: contain;
 margin: 2rem 1.5rem;
}

.button-container {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin: 0.75rem;
}

.button-container h1 {
  padding-bottom: 1rem;
}

.button-container h3 {
  font-weight: 600;
  line-height: 1.4;
  padding-bottom: 1.4rem;
}

#button {
  padding: 1rem 0;
  text-align: center;
  background-color: black;
  color: white;
  transition: all .5s linear .1s
}

#button span {
  font-size: 1rem;
}

#button:hover {
  background-color: grey;
  color: pink;
}


/* Info-Banner Section */

.info-banner {
  display: flex;
}


/* Info-Banner Left-Pane */

.info-banner .left-pane {
  width: 60%;
  margin: 2rem 1.5rem;
}

.info-banner .left-pane .info-image img {
  width: 100%;
}

.left-pane h2 {

}


/* Info-Banner Right-Pane */

.info-banner .right-pane {
  width: 40%;
  margin: 2rem 0 2rem 0;
}

.right-pane .info {
  display: flex;
  padding: 1rem;
}

.right-pane .info .info-image {
  width: 35%;
  height: auto;
}

.right-pane .info .info-image img {
  width: 100%;
}

.right-pane .info .info-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  line-height: 1.5rem;
  margin-left: 1.5rem;
}

.right-pane .orientation {
  padding-top: 0;
}

.right-pane .orientation img {
/*   margin: 0 1.5rem 1rem 0.5rem; */
}


/* Start Learning Section */



.learning {
  flex-direction: column;
  align-items: center;
}

.learning h2 {
  margin-top: 2rem;
  width: 100%;
  text-align: center;
}

.academic-paths {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2rem 3.5rem;
}

.path {
  height: auto;
  width: 30%;
  padding: 1rem;
}

.path img {
  width: 100%;
}

.path-text h3 {
  padding: 1rem 0 0.5rem 1rem;
}

.path-text span {
  padding: 0.5rem 0 0.5rem 1rem;
}

.path-text p {
  margin: 0.25rem 0 0.25rem 1rem;
}


/* Thesis Exhibit Section */

.exhibit {
  flex-direction: column;
  border: 1px red solid;
}

.exhibit h2 {
  font-size: 2rem;
  margin: 2rem auto;
}

.exhibit-content {
  display: flex;
  padding-left: 1.5rem;
}

/* Video */

.thesis-video {
  width: 60%;
  padding-right: 1.5rem;
}

.thesis-video .video-container {
  width: 94%;
}

video {
  width: 100%;

}

.video-text {
  padding-left: 1.5rem;
  margin-bottom: 2rem;
}

.video-text h3 {
  margin-bottom: .75rem;
}

.video-text p {
  line-height: 1.5rem;
}
/*********/

.exhibit-content .thesis-pane {
  display: flex;
  flex-direction: column;
  width: 40%;

}

.thesis-pane .thesis {
  display: flex;
  padding: 1rem 0 1rem 1rem;
}

.thesis-pane .thesis .thesis-image {
  width: 35%;
  height: auto;
}

.thesis-pane .thesis .thesis-image img {
  width: 100%;
  height: auto;
}


.thesis-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  margin-left: 1.5rem;
}

.thesis-text h3{
  font-size: 1.5rem;
  line-height: 2rem;
}

.thesis-text h4{
  font-size: 1.25rem;
  line-height: 1.5rem;
  padding-top: 0.5rem;
}


/* Footer Section */

footer {
  width: 100%;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 1rem 0 3rem 0;
  padding-left: 1.5rem;
}

.footer-info {
  margin-right: 1.5rem;
  word-spacing: 0.5rem;
  padding-right: 1rem;
}
